@import "partials/settings";
@import "../bower_components/foundation/scss/foundation";

$black: #080000;
$blue: #8EC5C5;
$gray: #535353;
$darkgray: #272727;

#page_header {
  background-image: url('/assets/header_bg.png');
  background-color: $blue;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  & h1 {
    font-size: 20px;
    text-align: center;
  }
  #logo_starfox {
    color: $black;
  }
  #logo_intergalatic {
    color: $black;
  }
  nav {
    background-color: $darkgray;
    border-radius: 5px;
    .top-bar
    .right {
      border-radius: 5px;
    }
  }
  #medium_up_nav {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
  }
  li {
    display: inline;
    font-size: 12px;
    padding: 20px;
    a {
      color: $blue;
    }
    a:hover {
      color: #FFFFFF;
    }
  }

}
#content_container {
  #hero_banner {
    background-color: $blue;
    margin: 30px;
    border-radius: 5px;
    #hero_banner_left {
      float: left;
      width: 70%;
      padding: 30px;
      // border: 2px solid red;
      p {
        // border: 2px solid blue;
        font-size: 20px;
      }
    }
    #hero_banner_right {
      float: right;
      width: 30%;
      #button {
        background-color: $gray;
        text-align: center;
        color: #FFFFFF;
        font-size: 12px;
        border-bottom: thick solid $darkgray;
        padding: 10px;
      }
    }
  }
}

footer {
  background-color: $darkgray;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  p {
    color: $gray;
    font-size: 12px;
  }
}