@import "partials/settings";
@import "../bower_components/foundation/scss/foundation";

$black: #080000;
$blue: #8EC5C5;
$gray: #535353;
$darkgray: #272727;

#page_header {
  background-image: url('/assets/header_bg.png');
  background-color: $blue;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  & h1 {
    font-size: 20px;
    text-align: center;
  }
  #logo_starfox {
    color: $black;
  }
  #logo_intergalatic {
    color: $black;
  }
  nav {
    background-color: $darkgray;
    border-radius: 5px;
    .top-bar
    .right {
      border-radius: 5px;
    }
  }
}
#content_block {

}

footer {
  background-color: $darkgray;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  p {
    color: $gray;
    font-size: 12px;
  }
}